
<html>
<head>
	<meta charset="utf-8">
	<title>Carros</title>
</head>
<body>
	<h1>Carros</h1>
	<ul>
		<li>
			<a href="{% url 'tarifas_list' %}">
				Tarifas
			</a>
		</li>
		<li>
			<a href="{% url 'carro_list' %}">
				Carro
			</a>
		</li>
		<li>
			<a href="{% url 'dueno_list' %}">
				Dueño
			</a>
		</li>
	</ul>
	<hr>
	<div>
		<!-- en esta parte se va a poner el contenido del block section que se carga en las vistas que utilizan este template -->
		{% block section %}
		{% endblock section %}
	</div>
	<div>
		<!-- en esta parte se va a poner el contenido del block maincontent que se carga en las vistas que utilizan este template -->
		{% block maincontent %}
		{% endblock maincontent %}
	</div>
</body>
</html>